.idea/
target
out
*.iml
.allure/
allure-results
allure-report
/api/.allure/
/allure-report/
build
*.txt

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.apk
*.ap_
*.dex


# Project gen files
/build/
bin/
out/
logs/
target/
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.vscode
.env
/.idea/
gen/
.gradle
.navigation
captures/
output.json
/settings.gradle